## Data preprocessing

In [1]:
import pandas as pd

In [2]:
bac= pd.read_csv("data1.csv")

In [3]:
bac.head()

,Unnamed: 0,Nom,"Serie,x",GroupeAnonymat,LieuNaissance,Centre,Etablissement,moyeneGeneral,Decision,Note1,...,Note7,Note8,Willaya,moughataa,DateNaissance,ID,Today2021,Age,prenom,sexe
0,27634,El Ide Brahim M'Hadi,SN,SN09,Bathet meit,Lycée Jedida,Lycée Jedida,4.601562,Ajourné,1.625,...,7.50,18.5,Nouakchott 2 (Ouest),KSAR,1998-12-12,ID_27634,2021-11-25,22.0,El,M
1,36311,Mariem Yedaly Afane,LO,LO1,Beir Taouress,Lycée Arafat 2 (A),Lycée Arafat 2,7.625000,Ajourné,13.000,...,0.75,-1.0,Nouakchott 3 (Sud),ARAFAT,1991-12-26,ID_36311,2021-11-25,29.0,Mariem,F
2,21059,Aiche Jiyid Jiyid,LM,LM3,Akjoujt,Lycée Akjoujt,Lycée Akjoujt,6.894531,Ajourné,7.000,...,10.00,17.0,Inchiri,AKJOUJT,1995-05-08,ID_21059,2021-11-25,26.0,Aiche,F
3,24532,Ahmed Abd El Ghader Meissa,SN,SN06,Chelkhet Tiyab,Lycée Toujounine 1,Lycée Toujounine 1,4.859375,Ajourné,1.750,...,7.50,17.0,Nouakchott 1 (Nord),TOUJOUNINE,1999-04-24,ID_24532,2021-11-25,22.0,Ahmed,M
4,17861,Mariam Abdoulaye Ba,SN,SN03,Aere M'Bar,Lycée Nouadhibou 2,Lycée Wava Nouadhibou,3.548387,Ajourné,4.500,...,2.00,-1.0,Dakhlet NDB,NOUADHIBOU,2001-05-10,ID_17861,2021-11-25,20.0,Mariam,F

In [4]:
bac.shape

(23894, 25)

In [5]:
bac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23894 entries, 0 to 23893
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      23894 non-null  int64
 1   Nom             23894 non-null  object
 2   Serie,x         23894 non-null  object
 3   GroupeAnonymat  23894 non-null  object
 4   LieuNaissance   23894 non-null  object
 5   Centre          23894 non-null  object
 6   Etablissement   23894 non-null  object
 7   moyeneGeneral   23894 non-null  float64
 8   Decision        23894 non-null  object
 9   Note1           23894 non-null  float64
 10  Note2           23894 non-null  float64
 11  Note3           23894 non-null  float64
 12  Note4           23894 non-null  float64
 13  Note5           23894 non-null  float64
 14  Note6           23894 non-null  float64
 15  Note7           23894 non-null  float64
 16  Note8           23894 non-null  float64
 17  Willaya         23894 non-null  object
 18  moughataa       23894 non-null  object
 19  DateNaissance   21101 non-null  object
 20  ID              23894 non-null  object
 21  Today2021       23894 non-null  object
 22  Age             21101 non-null  float64
 23  prenom          23894 non-null  object
 24  sexe            23894 non-null  object
dtypes: float64(10), int64(1), object(14)
memory usage: 4.6+ MB

In [6]:
bac = bac.drop(columns=['Unnamed: 0'])

In [7]:
missing_values_count = bac.isna().sum()
print(missing_values_count)

Nom                  0
Serie,x              0
GroupeAnonymat       0
LieuNaissance        0
Centre               0
Etablissement        0
moyeneGeneral        0
Decision             0
Note1                0
Note2                0
Note3                0
Note4                0
Note5                0
Note6                0
Note7                0
Note8                0
Willaya              0
moughataa            0
DateNaissance     2793
ID                   0
Today2021            0
Age               2793
prenom               0
sexe                 0
dtype: int64

In [8]:
# Calculer la date de naissance  la plus fréquente
most_frequent_date = bac['DateNaissance'].mode()[0]
most_frequent_age = bac['Age'].mode()[0]
# Imputer les valeurs manquantes avec la date la plus fréquente
bac['DateNaissance'] = bac['DateNaissance'].fillna(most_frequent_date)
bac['Age'] = bac['Age'].fillna(most_frequent_age)

In [9]:
bac.head()

,Nom,"Serie,x",GroupeAnonymat,LieuNaissance,Centre,Etablissement,moyeneGeneral,Decision,Note1,Note2,...,Note7,Note8,Willaya,moughataa,DateNaissance,ID,Today2021,Age,prenom,sexe
0,El Ide Brahim M'Hadi,SN,SN09,Bathet meit,Lycée Jedida,Lycée Jedida,4.601562,Ajourné,1.625,4.250,...,7.50,18.5,Nouakchott 2 (Ouest),KSAR,1998-12-12,ID_27634,2021-11-25,22.0,El,M
1,Mariem Yedaly Afane,LO,LO1,Beir Taouress,Lycée Arafat 2 (A),Lycée Arafat 2,7.625000,Ajourné,13.000,5.875,...,0.75,-1.0,Nouakchott 3 (Sud),ARAFAT,1991-12-26,ID_36311,2021-11-25,29.0,Mariem,F
2,Aiche Jiyid Jiyid,LM,LM3,Akjoujt,Lycée Akjoujt,Lycée Akjoujt,6.894531,Ajourné,7.000,8.250,...,10.00,17.0,Inchiri,AKJOUJT,1995-05-08,ID_21059,2021-11-25,26.0,Aiche,F
3,Ahmed Abd El Ghader Meissa,SN,SN06,Chelkhet Tiyab,Lycée Toujounine 1,Lycée Toujounine 1,4.859375,Ajourné,1.750,6.000,...,7.50,17.0,Nouakchott 1 (Nord),TOUJOUNINE,1999-04-24,ID_24532,2021-11-25,22.0,Ahmed,M
4,Mariam Abdoulaye Ba,SN,SN03,Aere M'Bar,Lycée Nouadhibou 2,Lycée Wava Nouadhibou,3.548387,Ajourné,4.500,3.000,...,2.00,-1.0,Dakhlet NDB,NOUADHIBOU,2001-05-10,ID_17861,2021-11-25,20.0,Mariam,F

In [10]:
# Compter les valeurs manquantes par colonne
missing_values_count = bac.isna().sum()
print(missing_values_count)

Nom               0
Serie,x           0
GroupeAnonymat    0
LieuNaissance     0
Centre            0
Etablissement     0
moyeneGeneral     0
Decision          0
Note1             0
Note2             0
Note3             0
Note4             0
Note5             0
Note6             0
Note7             0
Note8             0
Willaya           0
moughataa         0
DateNaissance     0
ID                0
Today2021         0
Age               0
prenom            0
sexe              0
dtype: int64

In [11]:
import xgboost as xgb
from sklearn.ensemble import AdaBoostClassifier,RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler,LabelEncoder,LabelBinarizer
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay,f1_score

# Import train_test_split function
from sklearn.model_selection import train_test_split,RandomizedSearchCV
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

In [12]:
# Split the data into features (X) and target (y)
X = bac.drop(['Decision','moyeneGeneral', 'Note1','DateNaissance',
       'Note2', 'Note3', 'Note4', 'Note5', 'Note6', 'Note7', 'Note8'], axis=1)
y = pd.DataFrame({'Decision':bac['Decision']})

In [13]:
X = X.set_index('ID')
y = y.set_index(pd.RangeIndex(start=0, stop=len(y)))

In [14]:
X.head()

,Nom,"Serie,x",GroupeAnonymat,LieuNaissance,Centre,Etablissement,Willaya,moughataa,Today2021,Age,prenom,sexe
ID,,,,,,,,,,,,
ID_27634,El Ide Brahim M'Hadi,SN,SN09,Bathet meit,Lycée Jedida,Lycée Jedida,Nouakchott 2 (Ouest),KSAR,2021-11-25,22.0,El,M
ID_36311,Mariem Yedaly Afane,LO,LO1,Beir Taouress,Lycée Arafat 2 (A),Lycée Arafat 2,Nouakchott 3 (Sud),ARAFAT,2021-11-25,29.0,Mariem,F
ID_21059,Aiche Jiyid Jiyid,LM,LM3,Akjoujt,Lycée Akjoujt,Lycée Akjoujt,Inchiri,AKJOUJT,2021-11-25,26.0,Aiche,F
ID_24532,Ahmed Abd El Ghader Meissa,SN,SN06,Chelkhet Tiyab,Lycée Toujounine 1,Lycée Toujounine 1,Nouakchott 1 (Nord),TOUJOUNINE,2021-11-25,22.0,Ahmed,M
ID_17861,Mariam Abdoulaye Ba,SN,SN03,Aere M'Bar,Lycée Nouadhibou 2,Lycée Wava Nouadhibou,Dakhlet NDB,NOUADHIBOU,2021-11-25,20.0,Mariam,F

In [16]:
bac.to_csv("bac.csv", index=False)

In [17]:
# Split dataset into training set and test set
X_train = X.iloc[0:15930,:] 
X_test = X.iloc[15930:,:]
y_train = y.iloc[0:15930,:]
y_test =y.iloc[15930:,:]

In [18]:
X_train.reset_index(inplace=True)
X_test.reset_index(inplace=True)
y_train.reset_index(drop=True,inplace=True)
y_test.reset_index(drop=True,inplace=True)

In [19]:
# Sélection des caractéristiques (features) et la variable cible (target)
categorical_features = ['Etablissement', 'Serie,x', 'Centre', 'Willaya', 'moughataa']  
numeric_features = ['Age'] 
target = 'Decision'

In [20]:
# Concaténation des ensembles d'entraînement et de test
all_data = pd.concat([X_train[categorical_features + numeric_features], X_test[categorical_features + numeric_features]], axis=0)

# Prétraitement des variables catégorielles
cat_transformer = OneHotEncoder(handle_unknown='ignore')
cat_transformer.fit(all_data[categorical_features])

# Prétraitement de la variable numérique
num_transformer = StandardScaler()
num_transformer.fit(all_data[numeric_features])

# Création du transformateur de colonnes
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', cat_transformer, categorical_features),
        ('num', num_transformer, numeric_features)
    ])

# Encodage des variables catégorielles de l'ensemble d'entraînement
X_train_encoded = preprocessor.fit_transform(X_train[categorical_features + numeric_features])
X_test_encoded = preprocessor.transform(X_test[categorical_features + numeric_features])
y_train = y_train[target]
y_test = y_test[target]

In [21]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

def transform_data(data):
    # Supprimer la colonne 'Unnamed: 0' si elle existe
    if 'Unnamed: 0' in data.columns:
        data = data.drop(columns=['Unnamed: 0'])

    # Imputer les valeurs manquantes dans 'DateNaissance' et 'Age' avec les valeurs les plus fréquentes
    most_frequent_date = data['DateNaissance'].mode()[0]
    most_frequent_age = data['Age'].mode()[0]
    data['DateNaissance'] = data['DateNaissance'].fillna(most_frequent_date)
    data['Age'] = data['Age'].fillna(most_frequent_age)

    # Sélection des caractéristiques (features) et la variable cible (target)
    categorical_features = ['Etablissement', 'Serie,x', 'Centre', 'Willaya', 'moughataa']
    numeric_features = ['Age']
    target = 'Decision'

    # Split dataset into training set and test set
    X = data.drop([target, 'moyeneGeneral', 'Note1', 'DateNaissance', 'Note2', 'Note3', 'Note4', 'Note5', 'Note6', 'Note7', 'Note8'], axis=1)
    y = data[[target]]

    X_train = X.iloc[:15930, :]
    X_test = X.iloc[15930:, :]
    y_train = y.iloc[:15930, :]
    y_test = y.iloc[15930:, :]

    # Réinitialisation des index
    X_train.reset_index(inplace=True, drop=True)
    X_test.reset_index(inplace=True, drop=True)
    y_train.reset_index(inplace=True, drop=True)
    y_test.reset_index(inplace=True, drop=True)

    # Concaténation des ensembles d'entraînement et de test
    all_data = pd.concat([X_train[categorical_features + numeric_features], X_test[categorical_features + numeric_features]], axis=0)

    # Prétraitement des variables catégorielles
    cat_transformer = OneHotEncoder(handle_unknown='ignore')
    cat_transformer.fit(all_data[categorical_features])

    # Prétraitement de la variable numérique
    num_transformer = StandardScaler()
    num_transformer.fit(all_data[numeric_features])

    # Création du transformateur de colonnes
    preprocessor = ColumnTransformer(
        transformers=[
            ('cat', cat_transformer, categorical_features),
            ('num', num_transformer, numeric_features)
        ])

    # Encodage des variables catégorielles de l'ensemble d'entraînement
    X_train_encoded = preprocessor.fit_transform(X_train[categorical_features + numeric_features])
    X_test_encoded = preprocessor.transform(X_test[categorical_features + numeric_features])

    return X_train_encoded, X_test_encoded, y_train, y_test

# Charger les données
data = pd.read_csv("data1.csv")

# Appeler la fonction pour transformer les données
X_train, X_test, y_train, y_test = transform_data(data)